/* ::::: https://labhr.github.io/js-hatrack/css/normalize.css ::::: */

html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px none; }
h1 { font-size: 2em; margin: 0.67em 0px; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0px; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
input { line-height: normal; }
/* ::::: https://labhr.github.io/js-hatrack/css/skeleton.css ::::: */

.container { position: relative; width: 100%; max-width: 960px; margin: 0px auto; padding: 0px 20px; box-sizing: border-box; }
.column, .columns { width: 100%; float: left; box-sizing: border-box; }
html { font-size: 62.5%; }
body { font-size: 1.5em; line-height: 1.6; font-weight: 400; font-family: "Raleway","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif; color: rgb(34, 34, 34); }
h1, h2, h3, h4, h5, h6 { margin-top: 0px; margin-bottom: 2rem; font-weight: 300; }
h1 { font-size: 4rem; line-height: 1.2; letter-spacing: -0.1rem; }
a { color: rgb(30, 174, 219); }
a:hover { color: rgb(15, 160, 206); }
.button, button, input[type="submit"], input[type="reset"], input[type="button"] { display: inline-block; height: 38px; padding: 0px 30px; color: rgb(85, 85, 85); text-align: center; font-size: 11px; font-weight: 600; line-height: 38px; letter-spacing: 0.1rem; text-transform: uppercase; text-decoration: none; white-space: nowrap; background-color: transparent; border-radius: 4px; border: 1px solid rgb(187, 187, 187); cursor: pointer; box-sizing: border-box; }
.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover, .button:focus, button:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus { color: rgb(51, 51, 51); border-color: rgb(136, 136, 136); outline: 0px none; }
.button.button-primary, button.button-primary, input.button-primary[type="submit"], input.button-primary[type="reset"], input.button-primary[type="button"] { color: rgb(255, 255, 255); background-color: rgb(51, 195, 240); border-color: rgb(51, 195, 240); }
.button.button-primary:hover, button.button-primary:hover, input.button-primary[type="submit"]:hover, input.button-primary[type="reset"]:hover, input.button-primary[type="button"]:hover, .button.button-primary:focus, button.button-primary:focus, input.button-primary[type="submit"]:focus, input.button-primary[type="reset"]:focus, input.button-primary[type="button"]:focus { color: rgb(255, 255, 255); background-color: rgb(30, 174, 219); border-color: rgb(30, 174, 219); }
input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select { height: 38px; padding: 6px 10px; background-color: rgb(255, 255, 255); border: 1px solid rgb(209, 209, 209); border-radius: 4px; box-shadow: none; box-sizing: border-box; }
input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea { -moz-appearance: none; }
input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus, textarea:focus, select:focus { border: 1px solid rgb(51, 195, 240); outline: 0px none; }
label, legend { display: block; margin-bottom: 0.5rem; font-weight: 600; }
ul { list-style: inside none circle; }
ol, ul { padding-left: 0px; margin-top: 0px; }
li { margin-bottom: 1rem; }
button, .button { margin-bottom: 1rem; }
input, textarea, select, fieldset { margin-bottom: 1.5rem; }
pre, blockquote, dl, figure, table, p, ul, ol, form { margin-bottom: 2.5rem; }
.u-full-width { width: 100%; box-sizing: border-box; }
.container::after, .row::after, .u-cf { content: ""; display: table; clear: both; }
/* ::::: https://labhr.github.io/js-hatrack/css/style.css ::::: */

div.contributors > div { display: inline-block; padding: 13px; vertical-align: top; }
div.contributors > div > a { position: relative; display: inline-block; line-height: 0; }
div.non-code div.overlay { background-image: url('clapping.png'); background-position: right bottom; background-repeat: no-repeat; background-size: 36px auto; width: 100%; height: 100%; position: absolute; top: 0px; }
div.contributors > div > div { text-align: center; width: 120px; padding: 5px; }
footer { padding-top: 40px; }
.intro-header { background: transparent url('header.png') no-repeat scroll center center / cover ; height: 300px; }
.row { padding-top: 10px; }
.section-heading { color: white; padding-top: 100px; text-align: center; font-weight: bold; }
.section-heading #repo-name a, .header-link a { color: white; text-decoration: none; }
.section-heading #repo-name a:hover, .header-link a:hover { text-decoration: underline; }
.center-row { text-align: center; }
footer { padding-top: 2rem; margin-top: 2rem; border-top: 1px solid rgb(239, 240, 241); color: rgb(129, 145, 152); }
@media screen and (min-width: 64em) {
}
@media screen and (min-width: 42em) and (max-width: 64em) {
}
@media screen and (max-width: 42em) {
}
.slim-icon-bar { display: block; border-top: 1px solid rgb(238, 238, 238); border-bottom: 1px solid rgb(238, 238, 238); margin-bottom: 25px; }
.slim-icon-bar ul { list-style: outside none none; margin-bottom: 0px; }
.slim-icon-bar ul li { border-bottom: 1px solid rgb(238, 238, 238); margin: 0px; padding: 0px; }
.slim-icon-bar ul li > * { display: inline-block; padding: 1rem 0px; margin: 0px; border-radius: 0px; border: 0px none; height: auto; width: 100%; color: rgb(85, 85, 85); cursor: pointer; text-decoration: none; text-align: center; font-size: 11px; font-weight: 600; line-height: normal; letter-spacing: 0.1rem; text-transform: uppercase; white-space: nowrap; background-color: transparent; box-sizing: border-box; }
.slim-icon-bar ul:last-child li:last-child { border-bottom: 0px none; }
/* ::::: https://labhr.github.io/js-hatrack/css/octicons/octicons.css ::::: */

@font-face {
	font-family: "octicons";
	font-style: normal;
	font-weight: normal;
	src: url('octicons.eot') format("embedded-opentype"), url('octicons.woff') format("woff"), url('octicons.ttf') format("truetype"), url('octicons.svg') format("svg");
}
.octicon, .mega-octicon { font: 16px/1 octicons; display: inline-block; text-decoration: none; text-rendering: auto; -moz-user-select: none; }
.octicon-alert::before { content: ""; }
.octicon-arrow-down::before { content: ""; }
.octicon-arrow-left::before { content: ""; }
.octicon-arrow-right::before { content: ""; }
.octicon-arrow-small-down::before { content: ""; }
.octicon-arrow-small-left::before { content: ""; }
.octicon-arrow-small-right::before { content: ""; }
.octicon-arrow-small-up::before { content: ""; }
.octicon-arrow-up::before { content: ""; }
.octicon-microscope::before, .octicon-beaker::before { content: ""; }
.octicon-bell::before { content: ""; }
.octicon-bold::before { content: ""; }
.octicon-book::before { content: ""; }
.octicon-bookmark::before { content: ""; }
.octicon-briefcase::before { content: ""; }
.octicon-broadcast::before { content: ""; }
.octicon-browser::before { content: ""; }
.octicon-bug::before { content: ""; }
.octicon-calendar::before { content: ""; }
.octicon-check::before { content: ""; }
.octicon-checklist::before { content: ""; }
.octicon-chevron-down::before { content: ""; }
.octicon-chevron-left::before { content: ""; }
.octicon-chevron-right::before { content: ""; }
.octicon-chevron-up::before { content: ""; }
.octicon-circle-slash::before { content: ""; }
.octicon-circuit-board::before { content: ""; }
.octicon-clippy::before { content: ""; }
.octicon-clock::before { content: ""; }
.octicon-cloud-download::before { content: ""; }
.octicon-cloud-upload::before { content: ""; }
.octicon-code::before { content: ""; }
.octicon-comment-add::before, .octicon-comment::before { content: ""; }
.octicon-comment-discussion::before { content: ""; }
.octicon-credit-card::before { content: ""; }
.octicon-dash::before { content: ""; }
.octicon-dashboard::before { content: ""; }
.octicon-database::before { content: ""; }
.octicon-clone::before, .octicon-desktop-download::before { content: ""; }
.octicon-device-camera::before { content: ""; }
.octicon-device-camera-video::before { content: ""; }
.octicon-device-desktop::before { content: ""; }
.octicon-device-mobile::before { content: ""; }
.octicon-diff::before { content: ""; }
.octicon-diff-added::before { content: ""; }
.octicon-diff-ignored::before { content: ""; }
.octicon-diff-modified::before { content: ""; }
.octicon-diff-removed::before { content: ""; }
.octicon-diff-renamed::before { content: ""; }
.octicon-ellipsis::before { content: ""; }
.octicon-eye-unwatch::before, .octicon-eye-watch::before, .octicon-eye::before { content: ""; }
.octicon-file-binary::before { content: ""; }
.octicon-file-code::before { content: ""; }
.octicon-file-directory::before { content: ""; }
.octicon-file-media::before { content: ""; }
.octicon-file-pdf::before { content: ""; }
.octicon-file-submodule::before { content: ""; }
.octicon-file-symlink-directory::before { content: ""; }
.octicon-file-symlink-file::before { content: ""; }
.octicon-file-text::before { content: ""; }
.octicon-file-zip::before { content: ""; }
.octicon-flame::before { content: ""; }
.octicon-fold::before { content: ""; }
.octicon-gear::before { content: ""; }
.octicon-gift::before { content: ""; }
.octicon-gist::before { content: ""; }
.octicon-gist-secret::before { content: ""; }
.octicon-git-branch-create::before, .octicon-git-branch-delete::before, .octicon-git-branch::before { content: ""; }
.octicon-git-commit::before { content: ""; }
.octicon-git-compare::before { content: ""; }
.octicon-git-merge::before { content: ""; }
.octicon-git-pull-request-abandoned::before, .octicon-git-pull-request::before { content: ""; }
.octicon-globe::before { content: ""; }
.octicon-graph::before { content: ""; }
.octicon-heart::before { content: "♥"; }
.octicon-history::before { content: ""; }
.octicon-home::before { content: ""; }
.octicon-horizontal-rule::before { content: ""; }
.octicon-hubot::before { content: ""; }
.octicon-inbox::before { content: ""; }
.octicon-info::before { content: ""; }
.octicon-issue-closed::before { content: ""; }
.octicon-issue-opened::before { content: ""; }
.octicon-issue-reopened::before { content: ""; }
.octicon-italic::before { content: ""; }
.octicon-jersey::before { content: ""; }
.octicon-key::before { content: ""; }
.octicon-keyboard::before { content: ""; }
.octicon-law::before { content: ""; }
.octicon-light-bulb::before { content: ""; }
.octicon-link::before { content: ""; }
.octicon-link-external::before { content: ""; }
.octicon-list-ordered::before { content: ""; }
.octicon-list-unordered::before { content: ""; }
.octicon-location::before { content: ""; }
.octicon-gist-private::before, .octicon-mirror-private::before, .octicon-git-fork-private::before, .octicon-lock::before { content: ""; }
.octicon-logo-gist::before { content: ""; }
.octicon-logo-github::before { content: ""; }
.octicon-mail::before { content: ""; }
.octicon-mail-read::before { content: ""; }
.octicon-mail-reply::before { content: ""; }
.octicon-mark-github::before { content: ""; }
.octicon-markdown::before { content: ""; }
.octicon-megaphone::before { content: ""; }
.octicon-mention::before { content: ""; }
.octicon-milestone::before { content: ""; }
.octicon-mirror-public::before, .octicon-mirror::before { content: ""; }
.octicon-mortar-board::before { content: ""; }
.octicon-mute::before { content: ""; }
.octicon-no-newline::before { content: ""; }
.octicon-octoface::before { content: ""; }
.octicon-organization::before { content: ""; }
.octicon-package::before { content: ""; }
.octicon-paintcan::before { content: ""; }
.octicon-pencil::before { content: ""; }
.octicon-person-add::before, .octicon-person-follow::before, .octicon-person::before { content: ""; }
.octicon-pin::before { content: ""; }
.octicon-plug::before { content: ""; }
.octicon-repo-create::before, .octicon-gist-new::before, .octicon-file-directory-create::before, .octicon-file-add::before, .octicon-plus::before { content: ""; }
.octicon-primitive-dot::before { content: ""; }
.octicon-primitive-square::before { content: ""; }
.octicon-pulse::before { content: ""; }
.octicon-question::before { content: ""; }
.octicon-quote::before { content: ""; }
.octicon-radio-tower::before { content: ""; }
.octicon-repo-delete::before, .octicon-repo::before { content: ""; }
.octicon-repo-clone::before { content: ""; }
.octicon-repo-force-push::before { content: ""; }
.octicon-gist-fork::before, .octicon-repo-forked::before { content: ""; }
.octicon-repo-pull::before { content: ""; }
.octicon-repo-push::before { content: ""; }
.octicon-rocket::before { content: ""; }
.octicon-rss::before { content: ""; }
.octicon-ruby::before { content: ""; }
.octicon-search-save::before, .octicon-search::before { content: ""; }
.octicon-server::before { content: ""; }
.octicon-settings::before { content: ""; }
.octicon-shield::before { content: ""; }
.octicon-log-in::before, .octicon-sign-in::before { content: ""; }
.octicon-log-out::before, .octicon-sign-out::before { content: ""; }
.octicon-smiley::before { content: ""; }
.octicon-squirrel::before { content: ""; }
.octicon-star-add::before, .octicon-star-delete::before, .octicon-star::before { content: ""; }
.octicon-stop::before { content: ""; }
.octicon-repo-sync::before, .octicon-sync::before { content: ""; }
.octicon-tag-remove::before, .octicon-tag-add::before, .octicon-tag::before { content: ""; }
.octicon-tasklist::before { content: ""; }
.octicon-telescope::before { content: ""; }
.octicon-terminal::before { content: ""; }
.octicon-text-size::before { content: ""; }
.octicon-three-bars::before { content: ""; }
.octicon-thumbsdown::before { content: ""; }
.octicon-thumbsup::before { content: ""; }
.octicon-tools::before { content: ""; }
.octicon-trashcan::before { content: ""; }
.octicon-triangle-down::before { content: ""; }
.octicon-triangle-left::before { content: ""; }
.octicon-triangle-right::before { content: ""; }
.octicon-triangle-up::before { content: ""; }
.octicon-unfold::before { content: ""; }
.octicon-unmute::before { content: ""; }
.octicon-unverified::before { content: ""; }
.octicon-verified::before { content: ""; }
.octicon-versions::before { content: ""; }
.octicon-watch::before { content: ""; }
.octicon-remove-close::before, .octicon-x::before { content: ""; }
.octicon-zap::before { content: "⚡"; }
/* ::::: https://fonts.googleapis.com/css?family=Raleway:400,300,600 ::::: */

@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 300;
	src: local("Raleway Light"), local("Raleway-Light"), url('zkwulycg95tk6moqhqfrbceavth_llrfe80cydsh47w.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 300;
	src: local("Raleway Light"), local("Raleway-Light"), url('-_ctzj9b56b8rgxw8farifk_varhqviz0nv9q090hn8.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	src: local("Raleway"), local("Raleway-Regular"), url('yqiaad56cjx1aoomtsghgfy6323mhuzfjmgtvxag2ie.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 400;
	src: local("Raleway"), local("Raleway-Regular"), url('0dtepzklwcef7z0kojax1a.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 600;
	src: local("Raleway SemiBold"), local("Raleway-SemiBold"), url('stboo2wad2lpx45sxyjqbseavth_llrfe80cydsh47w.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 600;
	src: local("Raleway SemiBold"), local("Raleway-SemiBold"), url('xkvono9fc8o2rdydkj12b_k_varhqviz0nv9q090hn8.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
