.container
  .row
  .col-lg-4
    include ../../components/sidebar/sidebar.jade
  .col-lg-8
    h1.page-header Multimedia

    h2 YouTube videos

    p
      | Our pitch for the
      a(href="http://www.rfappathon.org/about") Rosalind Franklin appathon
      | . (We won the
      a(href="http://www.rfappathon.org/about_entries") runners up prize
      | !)
      br
      em February 4th 2016
      .embed-responsive.embed-responsive-4by3
        iframe(width="560" height="315" src="https://www.youtube.com/embed/A60pq3pzSWU" frameborder="0" allowfullscreen)

    p
      | Talking about STEMM Role Models on the Mozilla Science Lab's
      a(href="https://www.mozillascience.org/project-call-march-24") project call
      br
      em March 24th 2106
      .embed-responsive.embed-responsive-4by3
        iframe(width="560" height="315" src="https://www.youtube.com/embed/cy_xQNWb4IQ?start=2228" frameborder="0" allowfullscreen)

