body {
  font-family: "Gill Sans MT", Calibri, sans-serif;
  background-color: rgb(240, 241, 241);
}
button {
  font-family: "Gill Sans MT", Calibri, sans-serif;
  background-color: rgb(192, 218, 218);
  border: none;
  border-radius: 2px;
  color: rgb(82, 134, 137);
  font-weight: 700;
  font-size: 30px;
  margin: 5px;
  width: 350px;
}
.navbar-default .navbar-nav > li > a {
  color: rgb(196, 113, 62);
  font-size: 18px;
  padding-right: 50px;
}
.navbar-default .navbar-nav > li > a:hover {
  color: rgb(196, 113, 63);
}
.jumbotron.ng-scope{
  background-color: rgb(240, 241, 241);
  padding: 0;
}
.navbar-default {
   background-color: rgb(238, 238, 238);
}
.container {
  padding: 15px 0 0 0;
}

.jumbotron {
    max-width: 80%;
}

/* Different text styles */

h1 {
    font-family: "Gill Sans MT", Calibri, sans-serif;
    color: rgb(82, 134, 137);
    font-weight: bold;
}

h2 {
    font-family: "Gill Sans MT", Calibri, sans-serif;
    font-weight: bold;
    font-size: large;
}

h5 {
    font-family: "Gill Sans MT", Calibri, sans-serif;
    color: rgb(82, 134, 137);
    font-weight: bold;
    font-size: medium;
    padding-top: 20px;
}

a {
    color: rgb(196, 113, 62);
}

p {
    font-family: "Gill Sans MT", Calibri, sans-serif;
    font-size: medium;
}

/* Sticky footer*/
html, body {
  height: 100%;
}
.page-wrapper {
  /* equal to footer height */
  min-height: calc(100% - 60px);
}
.footer{
  height: 60px;
}
.footer {
  background-color: rgb(177, 189, 193);
  bottom: 0;
  color: rgb(82, 134, 137);
  position: relative;
  width: 100%;
}
.footer a {
  color: rgb(82, 134, 137);
  font-size: 16px;
  font-weight: 500;
  padding: 0 50px 0 50px;
}
.footer a:hover {
  text-decoration: none;
}

/* Responsive google forms */
.form-container {
    position: relative;
    padding-bottom: 62.5%;
    height: 0;
    overflow: hidden;
}

.form-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*Make the panel at the bottom of the page dark grey*/
.panel-body {
    text-align: center;
    padding: 0 0 0 0 ;
    background-color: rgb(209, 211, 212);
}

.not-specified {
  display: none;
}