body {
  background-color: rgb(240, 241, 241);
}
button {
  background-color: rgb(192, 218, 218);
  border: none;
  border-radius: 2px;
  color: rgb(82, 134, 137);
  font-weight: 700;
  font-size: 30px;
  margin: 5px;
  width: 350px;
}
.navbar-default .navbar-nav > li > a {
  color: rgb(196, 113, 62);
  font-size: 18px;
  padding-right: 50px;
}
.navbar-default .navbar-nav > li > a:hover {
  color: rgb(196, 113, 63);
}
.jumbotron.ng-scope{
  background-color: rgb(240, 241, 241);
  padding: 0;
}
.navbar-default {
   background-color: rgb(238, 238, 238);
}
.container {
  padding: 15px 0 0 0;
}

/* Sticky footer*/
html, body {
  height: 100%;
}
.page-wrapper {
  /* equal to footer height */
  min-height: calc(100% - 60px);
}
.footer{
  height: 60px;
}
.footer {
  background-color: rgb(177, 189, 193);
  bottom: 0;
  color: rgb(82, 134, 137);
  position: relative;
  width: 100%;
}
.footer a {
  color: rgb(82, 134, 137);
  font-size: 16px;
  font-weight: 500;
  padding: 0 50px 0 50px;
}
.footer a:hover {
  text-decoration: none;
}
