p.lead Inspire future generations by providing the most exciting and diverse speakers for your conference.

p
  a(href="https://github.com/KirstieJane/STEMMRoleModels") View the Project on GitHub
    small KirstieJane/STEMMRoleModels

p Logo image credit: #[a(href="https://flic.kr/p/o2vnD6") Charis Tsevis]
img.img-rounded.img-responsive(src="./assets/images/WeCanCodeIt_CharisTsevis_Flickr.jpg")
