<div class="jumbotron">
  <div class="row">
    <div class="col-md-12 text-center">
      <img src="images/stemm-logo.png" alt="STEMM Role Models">
      <p>Inspire future generations by providing the most exciting and diverse speakers for your conference.</p>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <a href="#/findaresearcher"><button type="button" aria-labelledby="find a researcher">Find a researcher</button></a>
    </div>
    <div class="col-md-12 text-center">
      <a href="#/addaresearcher"><button type="button" aria-labelledby="add a researcher">Add a researcher</button></a> 
    </div>
    <div class="col-md-12 text-center">
      <a href="#/writeatestimonial"><button type="button" aria-labelledby="write a testimonial">Write a testimonial</button></a>
    </div>
</div> 
</div>